body{
    /* background-color:black; */
    overflow-x: hidden;
    }
    @font-face{
        font-family:alternity;
        src:
        url(fonts/alternity.ttf)
        format('truetype');
    }
    @font-face{
        font-family:LucidaSans;
        src:
        url(fonts/LucidaSans.ttf)
        format('truetype');
    }
    .navi{
        background-color: black;
    }
    
    .pink{
        color:#ff0077;
        
    }
    
    /* nav bar toggler button *//* nav bar toggler button *//* nav bar toggler button */
    .icon-bar{
        width:22px;
        height:3px;
        background-color:#FF0077;
        display: block;
        transition: all 0.2s;
        margin-top: 4px;
        margin-bottom:4px
    }
    .navbar-toggler{
        border:none;
        background: transparent !important ;
    }
    
    /*toggler-button animation */
    .navbar-toggler .top-bar {
        transform: rotate(45deg);
         transform-origin: 5% 5%; 
      }
       
      .navbar-toggler .middle-bar {
        opacity: 0;
      }
       
      .navbar-toggler .bottom-bar {
        transform: rotate(-45deg);
         transform-origin: 5% 95%; 
      }
       
      .navbar-toggler.collapsed .top-bar {
        transform: rotate(0);
        
      }
       
      .navbar-toggler.collapsed .middle-bar {
        opacity: 1; 
      }
       
      .navbar-toggler.collapsed .bottom-bar {
        transform: rotate(0);
       
      }
    
     /* Home *//* Home *//* Home *//* Home *//* Home *//* Home *//* Home *//* Home */
    #home{
        width: 100vw;
        height: 100vh;
        background-color: black;
    }
    .hello{
        text-align: center;
        padding-top:17%;
        font-family: 'Lucida Sans',  sans-serif;
    }
    .iam{
       color:white;
       font-weight: bold;
       font-size: 80px;
       text-align: right;
       font-family: 'LucidaSans', sans-serif;
    }
    .programmer{
        color:white;
        font-weight: bold;
        font-size: 66px;
        text-align: left;
        font-family: 'alternity', sans-serif;
    }
    .name{
        color:white;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        
    }
    .skills{
        padding-top:2%;
        color:white;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
    }
    .exploreButton{
        border-style:solid;
        border-width: 4px;
        border-color:white;
        color:#ff0077;
        padding:1%;
        margin:1% 2%;
        font-family: 'LucidaSans', sans-serif;
    
    }
    
    a:hover{
        border-color: #ff0077;
        color:white;
    }
    .intro-social{
        display: block;
        /* position: absolute; */
        /* width: 50vw; */
        margin-left: 30%;
        margin-top:5%;
        bottom: 7.2rem;
        font-size: 3rem;
        
    }
    .intro-social li{
        display: inline-block;
        margin:0px 20px;
        padding:0px;
        /* margin-bottom: 4%; */
    }
    .intro-social a .fa {
        color:white;
    }
    .intro-social a:hover .fa-github {
       color:#ff0077;
    }
    .intro-social a:hover .fa-facebook {
        color:#ff0077;
    }
    .intro-social a:hover .fa-linkedin {
        color:#ff0077;
    }
    .intro-social a:hover .fa-twitter {
        color:#ff0077;
    }
    .intro-social a:hover .fa-instagram {
        color:#ff0077;
    }
    .intro-social a:hover .fa-quora {
        color:#ff0077;
    }

    /* about *//* about *//* about *//* about *//* about *//* about *//* about */
    #about{
        width: 100%;
        height: 100vh;
        background-color: white;
    }
    .About{
        text-align: center;
        padding-top: 15vh;
        font-size: 35px;
        font-family: 'LucidaSans', sans-serif;
    }

    .introduce{
        text-align: center;
        padding-top: 1vh;
        font-size: 32px;
        font-weight: 900;
        font-family: 'LucidaSans', sans-serif;
    }
    .profileImg{
        width:16vw;
        height:16vw;
        border-radius:40% 0px;
        /* border-style: solid;
        border-width: 10px;
        border-color: white; */
    }
    .introduction{
        /* padding-left: 3%; */
        font-size: 1.9vw;
        color:grey;
        text-align: center;
        font-weight: 400;
    }
    .grey{
        color:grey;
    }
    .PSpadding{
        padding-top:3vh;
    }
    p{
        font-size: 17px;
    }
    .PS{
        font-family: 'Lucida Sans',  sans-serif;
        font-size: 32px;
        /* text-align: center; */
        font-weight: 1200;
        padding:1vh 0vh;
    }
    .profileItems{
        font-size:18px;
    }
    .PSpadding a{
        font-size: 17px;
    }
    .PSpadding a:hover{
        color:#ff0077;
        font-size:17px;
        text-decoration: none;
    }
    .skillsButton{
        border-style:solid;
        border-width: 4px;
        border-color:black;
        background-color: #1b1b1b;
        color:#ff0077;
        width:100%;
        text-align: center;
        padding:1%;
        margin:1% 2%;
        font-family: 'LucidaSans', sans-serif;
    }
    .skillsButton:hover{
        border-color:#1b1b1b;
    }
